#menuitemform {
  max-width: 400px;
  margin: auto;
  padding-top: 2em;
}

#menuitemform .form-row {
  margin-bottom: 15px;
}

#menuitemform label {
  display: block;
  margin-bottom: 5px;
}

#menuitemform input,
#menuitemform textarea,
#menuitemform button,
#menuitemform select {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

#menuitemform input[type="file"] {
  margin-top: 5px;
}

#menuitemform #menu-item-submit {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#menuitemform #menu-item-submit:hover {
  background-color: #45a049;
}
