#menuitemform {
  max-width: 400px; /* You can adjust the maximum width as needed */
  margin: auto;
  padding-top: 2em;
}

.form-row {
  margin-bottom: 15px;
}

/* label {
  display: block;
  margin-bottom: 5px;
} */

/* input,
textarea,
button,
select {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  margin-bottom: 10px;
} */

#menu-item-submit {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#menu-item-submit:hover {
  background-color: #45a049;
}

/* Add additional styling for the file input if needed */
/* input[type="file"] {
  margin-top: 5px;
} */
